*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("OmniManThink.jpg");
  overflow-y: hidden;
  font-family: Nunito, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.all{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#container p:first-child {
  font-size: 6.5em;
  font-family: Nunito, sans-serif;
  -webkit-text-stroke: 2px black;
  color: white;
}

#score {
  font-size: 50px;
  font-family: Nunito, sans-serif;
  -webkit-text-stroke: 2px black;
  color: white;
}

.link{
    color:white;
    margin-left:20px;
    font-size: 20px;
    font-family: Nunito, sans-serif;
    text-decoration: none;
    
}

.contact{
    display:flex;
    flex-direction: column;
}

#music{
    display: flex;
    flex-direction: column;
}

#music a{
  margin: 0 auto;
    font-size: 20px;
    color:white;
    font-family: Nunito, sans-serif;
    word-break: normal;
    
}

.twerk{
  cursor: pointer;
}
